@import "tailwindcss";
.input-box {
  @apply flex items-center gap-3 border border-green-300 rounded-xl px-4 py-3 bg-white;
}

.input {
  @apply w-full outline-none text-gray-700 placeholder-gray-400;
}

.icon {
  @apply text-green-600;
}
